@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:after,
:before {
  border: 0 solid #d9d9e3;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@layer base {
  .rtl-dir {
    direction: rtl;
  }
  .disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
  .bg-dotted {
    background-image: radial-gradient(#781bf21e 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -11px -11px;
  }
  .message-field-sm {
    width: calc((100% - 260px) * 0.8);
  }
  .message-field-md {
    width: calc((100% - 260px) * 0.5);
  }
  .selected-theme {
    color: #22c55e;
  }
  /* @media(max-width: 768px) {
      .side-bard  {
        left: -100%;
        transform: translateX(-100%);
      }
  } */

  .md-screen {
    width: calc(100% - 260px);
    margin-left: auto;
  }

  .photo-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*  try to remov the desnse value to see the diff */
    grid-auto-flow: row dense;
  }
  .photo-grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

@layer utilities {
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
